In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv('mtcars.csv')

In [3]:
cars.head(2)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [4]:
cars.shape

(32, 12)

In [5]:
X = cars.loc[:,['hp','wt','am']]    # Feature Engineering
y = cars.mpg

In [41]:
#Train and Test Split
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 10)

In [25]:
X_train.shape

(24, 3)

In [9]:
X_test.shape

(8, 3)

In [10]:
y_train.shape

(24,)

In [11]:
y_test.shape

(8,)

In [26]:
X_train.head(10)

     hp     wt  am
20   97  2.465   0
18   52  1.615   1
13  180  3.780   0
24  175  3.845   0
3   110  3.215   0
26   91  2.140   1
8    95  3.150   0
25   66  1.935   1
22  150  3.435   0
16  230  5.345   0

In [27]:
from sklearn.linear_model import LinearRegression   # Machine Learning importing and Initiation of linear regression
model = LinearRegression()

In [34]:
# Training model with data
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [35]:
# Model Evaluation
y_predict = model.predict(X_test)

In [36]:
y_predict

array([25.83532698, 20.45346542, 16.20036887, 12.30639686, 20.81254515,
       27.68178773, 18.49879648, 28.78407117])

In [30]:
y_test

12    17.3
11    16.4
28    15.8
14    10.4
15    10.4
0     21.0
2     22.8
6     14.3
Name: mpg, dtype: float64

In [37]:
#Evaluation of model efficiency with Test data
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)

0.8294105473926219